header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    .container-fluid
      a.navbar-brand(href='#') Program Name
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-md-0
          li.nav-item.active
            a.nav-link(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link(href='#about') About
          li.nav-item
            a.nav-link(href='#contact') Contact
  .mb-3