div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#")
                | Program Name
            div.nav-collapse.collapse
                ul.nav
                    li.active
                        a(href="#")
                            | Home
                    li
                        a(href="#about")
                            | About
                    li
                        a(href="#contact")
                            | Contact
