!!!
html
	head
		block head
			block title
				title Program Name
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
				meta(name='viewport', content='width=device-width, initial-scale=1.0')
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css')
			link(rel='stylesheet', href='/css/style.css')
			| <style>
			| body { padding-top: 60px; }
			| </style>
	body
			include header

			block content

			include footer