doctype html
html.h-100
    head
        block head
            block title
                title Program Name
            block meta
                meta(name='viewport', content='width=device-width, initial-scale=1')
                meta(name='description', content='')
                meta(name='keywords', content='')
            link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
            link(href='/css/style.css', rel='stylesheet')
    body.d-flex.flex-column.h-100
        include header

        block content

        include footer